@media (max-width: 767px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    header nav {                                  
        display: flex;
        width: 70%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    nav li {
        padding-bottom: 5px;
    }

    .header {
        padding: 0;
    }
}